<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/semantic/header::header('关于本站',null)"></div>
<body>
<section class="section">
    <div class="ui container" style="padding: 3em 0 5em 0">
        <div class="ui list bulleted relaxed" style="margin: 2em 0 2em 4em;">
            <div class="item">
                <h3 class="ui header">站点介绍</h3>
                <p style="text-indent: 2em;margin: 1em 0 0 0">建于 2019年4月20日</p>
            </div>
            <div class="item">
                <h3 class="ui header">My Blog</h3>
                <div class="list aboutlist">
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                </div>
            </div>
            <div class="item">
                <h3 class="ui header">JAVA 系列</h3>
                <div class="list aboutlist">
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                </div>
            </div>
            <div class="item">
                <h3 class="ui header">Elasticsearch 系列</h3>
                <div class="list aboutlist">
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                </div>
            </div>
            <div class="item">
                <h3 class="ui header">python 系列</h3>
                <div class="list aboutlist">
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                </div>
            </div>
            <div class="item">
                <h3 class="ui header">Crawler 系列</h3>
                <div class="list aboutlist">
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                </div>
            </div>
            <div class="item">
                <h3 class="ui header">Linux 系列</h3>
                <div class="list aboutlist">
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                    <a class="item">
                        asdadsasd
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<div th:replace="themes/semantic/footer::footer"></div>
</html>