<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/semantic/header::header(null,null)"></div>
<body>
    <section class="section">
        <div class="ui container" style="padding: 3em 0 5em 0">
            <div class="ui header" style="margin-bottom: 1em">
                <i class="book icon"></i>
                <h6 class="content">标签(分类/时间)：{cataloges/title/time} >></h6>
            </div>
            <div class="ui stackable doubling cards link raised four">

                <!-- card1-->
                <div onclick="postReading('11');" class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta post-meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>


                <!-- card1-->
                <div onclick="postReading('11');" class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta post-meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div onclick="postReading('11');" class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta post-meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>

                <!-- card1-->
                <div class="card blue">
                    <div class="content">
                        <div class="header">Elasticsearch 学习笔记一</div>
                        <div class="meta">
                            <span>标签</span>
                            <span>标签</span>
                            <span>标签</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="description post-des">这是文章介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
                    </div>
                    <div class="extra content">
                        <span><i class="small teal user icon"></i>black</span>
                        <span><i class="small blue clock icon"></i>2019.4.20</span>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="comm/page::page(${articles},'上一页','下一页','page')"></div>
    </section>
</body>
<div th:replace="themes/semantic/footer::footer"></div>
</html>