<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<body>
<!-- footer -->
<footer class="ui center aligned footer segment" style="margin: 0;border: none;border-radius: unset">
    <a href="http://www.baidu.com"><i class="huge grey circular link weibo icon"></i></a>
    <a href="http://www.baidu.com"><i class="huge grey circular link qq icon"></i></a>
    <a href="http://www.baidu.com"><i class="huge grey circular link wechat icon"></i></a>
    <p style="margin-bottom: 2em"></p>
    <h3 class="ui grey header">&copy; 2018 Champion Blog</h3>
    <p style="margin-bottom: 4em"></p>
</footer>
</body>
</html>