<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<body>
<footer>
    <!-- footer -->
    <div class="ui center aligned footer segment inverted">
        <div class="ui container">
            <i class="huge grey link weibo icon" onclick="onlineshowmodal('weibo');"></i>
            <i class="huge grey link qq icon" onclick="onlineshowmodal('qq');"></i>
            <i class="huge grey link wechat icon" onclick="onlineshowmodal('wechat');"></i>
            <a href="https://github.com/kkblock"><i class="huge grey github icon"></i></a>
            <a href="https://stackoverflow.com/users/6021480/kuangkai"><i class="huge grey stack overflow icon"></i></a>
            <p style="margin-bottom: 1em"></p>
            <h3 class="ui grey header">&copy; 2019 Champion Blog</h3>
            <p style="margin-bottom: 2em"></p>
        </div>
    </div>

</footer>

<!--modal-->
<div style="display: none">
    <div class="ui mini modal wechatpicmodal">
        <i class="close icon"></i>
        <div class="ui image centered bordered content image-fix-div">
            <img class="image-fix-image" th:src="@{/public/images/online/wechat.jpg}" alt="微信二维码"/>
        </div>
    </div>
    <div class="ui mini modal weibopicmodal">
        <i class="close icon"></i>
        <div class="ui image centered bordered content image-fix-div">
            <img class="image-fix-image" th:src="@{/public/images/online/weibo.png}" alt="微博二维码"/>
        </div>
    </div>
    <div class="ui mini modal qqpicmodal">
        <i class="close icon"></i>
        <div class="ui image centered bordered content image-fix-div">
            <img class="image-fix-image" th:src="@{/public/images/online/qq.jpg}" alt="QQ二维码"/>
        </div>
    </div>
</div>
<th:block th:if="${is_post}">
    <div class="autoMenu" id="autoMenu" data-autoMenu></div>
</th:block>
<div id='toTop'><img th:src="@{/public/images/top.png}"></div>
</body>
<link type="text/css" rel="stylesheet" th:href="@{/public/css/footercss.css}"/>
</html>
