<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--header-->
<div th:replace="themes/semantic/header::header(null,null)"></div>
<script>
    function searchkeywords(obj) {

    }
</script>
<body>
<section class="section">
    <div class="ui vertical masthead center aligned segment inverted">
        <div class="ui text container">
            <h1 class="ui header inverted">
                Imagine
            </h1>
            <h2>Do whatever you want when you want to.</h2>
        </div>
    </div>

    <!--    <div class="ui search container">-->
    <!--        <div class="ui fluid container">-->
    <!--            <div class="ui action left icon input" id="middleSearch">-->
    <!--                <i class="search icon"></i>-->
    <!--                <input id="searchit" name="searchkeyword" type="text" placeholder="输入关键字..." />-->
    <!--                <div class="ui teal button" id="searchbtn" onclick="searchkeywords();">搜索文章</div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!-- middle container -->
    <div class="ui main container">
        <div class="ui divider"></div>
        <div class="ui container grid three column padded divided stackable">
            <!--recommand-->
            <div id="recommand" class="three wide column">
                <div class="ui basic segment">
                    <h2 class="ui header">WHAT'S NOT</h2>
                    <div class="ui bulleted link list">
                        <a class="item">How to Start a Blog with WordPress (Step by Step Guide for Blog Hosting)</a>
                        <a class="item">How to Start a Blog with WordPress (Step by Step Guide for Blog Hosting)</a>
                        <a class="item">How to Start a Blog with WordPress (Step by Step Guide for Blog Hosting)</a>
                        <a class="item">How to Start a Blog with WordPress (Step by Step Guide for Blog Hosting)</a>
                        <a class="item">How to Start a Blog with WordPress (Step by Step Guide for Blog Hosting)</a>
                        <a class="item">How to Start a Blog with WordPress (Step by Step Guide for Blog Hosting)</a>
                        <a class="item">How to Start a Blog with WordPress (Step by Step Guide for Blog Hosting)</a>
                        <a class="item">How to Start a Blog with WordPress (Step by Step Guide for Blog Hosting)</a>
                        <a class="item">How to Start a Blog with WordPress (Step by Step Guide for Blog Hosting)</a>
                        <a class="item">How to Start a Blog with WordPress (Step by Step Guide for Blog Hosting)</a>
                        <a class="item">How to Start a Blog with WordPress (Step by Step Guide for Blog Hosting)</a>
                        <a class="item">How to Start a Blog with WordPress (Step by Step Guide for Blog Hosting)</a>
                        <a class="item">How to Start a Blog with WordPress (Step by Step Guide for Blog Hosting)</a>
                        <a class="item">How to Start a Blog with WordPress (Step by Step Guide for Blog Hosting)</a>
                        <a class="item">How to Start a Blog with WordPress (Step by Step Guide for Blog Hosting)</a>
                    </div>
                </div>
            </div>
            <!--articles-->
            <div id="articles" class="nine wide column">
                <!--no article-->
                <th:block th:if="${commons.is_empty(articles)}">
                    <div class="ui segment basic">
                        <p>抱歉，还没有相关文章.</p>
                    </div>
                </th:block>
                <th:block th:unless="${commons.is_empty(articles)}">
                    <!--articles-->
                    <div class="ui segment basic vertical" id="articlestiky">
                        <!--articles items-->
                        <div class="ui very relaxed unstackable items" th:each="article,userStat: ${articles.list}">
                            <a class="ui header" th:href="${#request.getContextPath() + commons.permalink(article)}"><h2
                                    th:text="${article.title}"></h2></a>
                            <div class="item">
                                <a class="ui small image"
                                   th:href="${#request.getContextPath() + '/category/' + article.categories}">
                                    <img th:src="@{'/public/images/' + ${article.categories == null? 'code': article.categories} + '.png'}"
                                         alt="类别"/>
                                </a>
                                <div class="content">
                                    <!--<a class="header">elasticsearch mapping 作用</a>-->
                                    <div class="meta">
                                        <i class="small grey user icon" style="margin: 0 5px"></i><a
                                            th:href="${#request.getContextPath() + '/posted/' + article.authorId}"
                                            th:text="${commons.getUserName(article.authorId)}"></a>
                                        <i class="small grey clock icon" style="margin: 0 5px"></i>
                                        <th:block
                                                th:utext="${commons.fmtdate(article.created,'yyyy年MM月dd日 HH:mm')}"/>
                                    </div>
                                    <div class="description article">
                                        <p th:text="${commons.intro(article.content,100)}">
                                        </p>
                                    </div>
                                    <div class="ui labels extra ptags">
                                        <a class="ui small label"
                                           th:each="tag: ${#strings.listSplit(article.tags,',')}" th:text="${tag}"
                                           th:href="${#request.getContextPath() + '/tag/' + tag}"></a>
                                        <a class="ui mini right floated primary button"
                                           th:href="${#request.getContextPath() + commons.permalink(article)}">进入阅读 <i
                                                class="right chevron icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui divider" th:if="${!userStat.last}"></div>
                        </div>
                    </div>
                </th:block>
            </div>
            <!--extrainfo-->
            <div id="extrainfo" class="four wide column">
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="检索文章..."/>
                        <i class="search icon link"></i>
                    </div>
                </div>
                <div class="ui piled basic segment">
                    <h3 class="ui header">网站介绍</h3>
                    <p>作者:邝凯</p>
                    <p>时间:2019年4月</p>
                    <p style="text-indent: 2em">有阴影的地方不用担心,转过身去,就是阳光</p>
                </div>
                <div class="ui piled basic segment">
                    <h3 class="ui header">分类</h3>
                </div>
                <div class="ui piled basic segment">
                    <h3 class="ui header">标签</h3>
                </div>
                <div class="ui piled basic segment">
                    <h3 class="ui header">时间</h3>
                </div>
                <div class="ui piled basic segment">
                    <h3 class="ui header">评论</h3>
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="ui main container">-->
    <!--        &lt;!&ndash;no article&ndash;&gt;-->
    <!--        <th:block th:if="${commons.is_empty(articles)}">-->
    <!--            <div class="ui segment basic">-->
    <!--                <p>抱歉，还没有相关文章.</p>-->
    <!--            </div>-->
    <!--        </th:block>-->

    <!--        <th:block th:unless="${commons.is_empty(articles)}">-->
    <!--            &lt;!&ndash;articles&ndash;&gt;-->
    <!--            <div class="ui segment basic vertical" id="articlestiky">-->
    <!--                <div class="ui header">-->
    <!--                    <i class="book icon"></i>-->
    <!--                    <h6 class="content">文章列表 >></h6>-->
    <!--                </div>-->

    <!--                &lt;!&ndash;articles items&ndash;&gt;-->
    <!--                <div class="ui very relaxed unstackable divided items" th:each="article: ${articles.list}">-->
    <!--                    <div class="item">-->
    <!--                        <a class="ui small image"-->
    <!--                           th:href="${#request.getContextPath() + '/category/' + article.categories}">-->
    <!--                            <img th:src="@{'/public/images/' + ${article.categories == null? 'code': article.categories} + '.png'}" alt="类别"/>-->
    <!--                        </a>-->
    <!--                        <div class="content">-->
    <!--                            &lt;!&ndash;<a class="header">elasticsearch mapping 作用</a>&ndash;&gt;-->
    <!--                            <a class="ui header" th:href="${#request.getContextPath() + commons.permalink(article)}"><h1-->
    <!--                                    th:text="${article.title}"></h1></a>-->
    <!--                            <div class="meta">-->
    <!--                                <i class="small grey user icon" style="margin: 0 5px"></i><a-->
    <!--                                    th:href="${#request.getContextPath() + '/posted/' + article.authorId}"-->
    <!--                                    th:text="${commons.getUserName(article.authorId)}"></a>-->
    <!--                                <i class="small grey clock icon" style="margin: 0 5px"></i>-->
    <!--                                <th:block-->
    <!--                                        th:utext="${commons.fmtdate(article.created,'yyyy年MM月dd日 HH:mm')}"/>-->
    <!--                            </div>-->
    <!--                            <div class="description article">-->
    <!--                                <p th:text="${commons.intro(article.content,100)}">-->
    <!--                                </p>-->
    <!--                            </div>-->
    <!--                            <div class="ui labels extra ptags">-->
    <!--                                <a class="ui small label"-->
    <!--                                   th:each="tag: ${#strings.listSplit(article.tags,',')}" th:text="${tag}"-->
    <!--                                   th:href="${#request.getContextPath() + '/tag/' + tag}"></a>-->
    <!--                                <a class="ui mini right floated primary button"-->
    <!--                                   th:href="${#request.getContextPath() + commons.permalink(article)}">进入阅读 <i-->
    <!--                                        class="right chevron icon"></i></a>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="ui divider"></div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </th:block>-->
    <!--    </div>-->

    <div th:replace="comm/page::page(${articles},'上一页','下一页','page')"></div>
</section>
<!--segment-->
</body>
<div th:replace="themes/semantic/footer::footer"></div>
</html>
