<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/semantic/header::header(null,null)"></div>
<!--/*@thymesVar id="commons" type="com.champion.blog.utils.Commons"*/-->
<body>
<!-- middle container -->
<div class="ui main container">
    <h1 class="ui header aligned center">Welcome to Champion Blog</h1>

    <!--video-->
    <div class="ui text container video">
        <div class="ui embed headvideo" data-icon="right circle arrow"
             th:attr="data-url=${#servletContext.contextPath + '/semantic/public/video/1.mp4'},
             data-placeholder=${#servletContext.contextPath + '/semantic/public/images/vimeo-example.jpg'}"
        ></div>
    </div>

    <div class="ui inverted section divider"></div>

    <!--search-->
    <div class="ui text container">
        <div class="ui action left icon input" id="middleSearch">
            <i class="search icon"></i>
            <input type="text" placeholder="输入关键字...">
            <div class="ui teal button">搜索文章</div>
        </div>
    </div>

    <!--articles-->
    <div class="ui text container">

        <!--articles items-->
        <div class="ui divided items" th:each="article: ${articles.list}">
            <div class="item card">
                <div class="ui small image bordered">
                    <div class="ui blurring inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <!--填充文章类别标志-->
                                <div class="ui teal button" th:text="${article.categories}"></div>
                            </div>
                        </div>
                    </div>
                    <img th:src="@{'/semantic/public/images/' + ${article.categories} + '.png'}"/>
                </div>
                <div class="content">
                    <h3 class="ui header"><a class="ui middle" th:text="${article.title}"></a></h3>
                    <div class="description">
                        <p th:text="${commons.intro(article.content,100)}"></p>
                    </div>
                    <div class="ui labels teal small extra">
                        <div class="ui label" th:each="tag: ${#strings.listSplit(article.tags,',')}" th:text="${tag}"></div>
                        <a th:href="${#request.getContextPath() + commons.permalink(article)}"><div class="ui right floated primary button">进入阅读<i class="right chevron icon"></i></div></a>
                    </div>
                    <div class="meta">
                        <span class="cinema">邝凯</span>
                        <span class="cinema" th:text="${commons.fmtdate(article.created,'yyyy年MM月dd日 HH:mm')}"></span>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
        </div>

        <div th:replace="comm/macros::pageNav(${articles},'←','→','page')"></div>

    </div>

</div>

<div th:replace="themes/semantic/footer::footer"></div>
<a href="#" class="cd-top">Top</a>
</body>
</html>
