<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="page(pageInfo, prevText, nextText, prefix)">

<body>
<!--pageinfo-->
<div th:fragment="pageNav(pageInfo, prevText, nextText, prefix)" class="ui container pageinfo">
    <div class="ui huge right aligned pagination menu borderless" style="">
        <a class="icon link item disabled">
            <i class="arrow left icon"></i> &nbsp;上一页
        </a>
        <a class="icon link item active blue">1</a>
        <a class="icon link item">2</a>
        <a class="icon link item">3</a>
        <a class="icon link item">4</a>
        <a class="icon link item">5</a>
        <a class="icon link item">6</a>
        <a class="icon link item">7</a>
        <a class="icon link item">8</a>
        <a class="icon link item">9</a>
        <a class="icon link item">10</a>
        <a class="item">
            下一页 &nbsp;<i class="arrow right icon"></i>
        </a>
    </div>
</div>
</body>
</html>