<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="page(pageInfo, prevText, nextText, prefix)">
<body>
<!--pageinfo-->
<div th:fragment="pageNav(pageInfo, prevText, nextText, prefix)" class="ui container pageinfo">
    <div class="ui mini right aligned pagination menu borderless">
        <!--上一页-->
        <a th:class="${pageInfo.hasPreviousPage} ?'icon link item':'icon link item disabled'"
           th:href="@{'/'+${prefix}+'/'+${pageInfo.prePage}}">
            <i class="arrow left icon"></i> &nbsp;上一页
        </a>

        <!--content-->
        <th:block th:each="navIndex :${ pageInfo.navigatepageNums}">
            <a th:class="${pageInfo.pageNum==navIndex} ? 'icon link item active blue':'icon link item'"
               th:href="@{'/page/'+${navIndex}}" th:text="${navIndex}"></a>
        </th:block>

        <!--下一页-->
        <a th:class="${pageInfo.hasNextPage ? 'icon link item': 'icon link item disabled'}" th:href="@{'/'+${prefix}+'/'+${pageInfo.nextPage}}">
            下一页 &nbsp;<i class="arrow right icon"></i>
        </a>
    </div>
</div>
</body>
</html>