.main.container {
    margin-top: 2em;
    margin-bottom: 7em;
}

.footer.segment {
    padding: 5em 0em;
}

div.ui.pagination.menu {
    margin-bottom: 3em;
}

div.container.pageinfo {
    text-align: center;
}

#middleSearch {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100%;
}

.pagination.menu {
    border: none;
}

div.container.video {
    width: 100%;
    margin-top: 2em;
}

/* cd-top*/
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 66, 49, 0.8) url(../images/top/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

/*article*/
.main-content {
    max-width: 940px;
    margin: 0 auto;
    -webkit-animation: fade-in .5s;
    animation: fade-in;
    animation-duration: .5s
}
@media (max-width: 580px) {
    .navbar-search form {
        width: 150px
    }

    .index-page {
        padding: 80px 0 0
    }

    .archive-page {
        padding: 80px 0 20px
    }

    .common-page {
        padding: 80px 0 0
    }

    .post-list-item {
        width: 100%;
        padding: 10px 20px
    }

    .post-list-item:first-child {
        padding-top: 20px
    }

    .archive-page .post-list-item:first-child {
        padding-top: 0
    }

    .archive-page .post-list-item:last-child {
        padding-bottom: 0
    }

    .common-page .post-list-item:first-child {
        padding-top: 0
    }

    .related-post-lists {
        padding-top: 5px
    }

    .main-content {
        margin: 0 auto
    }
}
@media (max-width: 880px) {
    .index-page {
        padding: 90px 0 0
    }

    .archive-page {
        padding: 90px 0 20px
    }

    .common-page {
        padding: 90px 0 0
    }

    .post-list-item {
        width: 50%;
        padding: 10px
    }

    .post-list-item:nth-child(odd) {
        padding-left: 20px
    }

    .post-list-item:nth-child(even) {
        padding-right: 20px
    }

    .lists-navigator {
        margin: 25px 0 30px
    }

    .footer-meta .footer-container {
        padding: 0
    }

    .main-content {
        margin: 0 auto
    }

    .footer-meta .meta-item {
        padding: 0 20px
    }
}
.post-page {
    max-width: 700px;
    padding: 130px 25px 20px
}

@media (max-width: 700px) {
    .comment-form .input-control {
        max-width: 100%
    }

    .post-page {
        padding: 110px 25px 0
    }

    .related-post-lists {
        padding-top: 15px
    }
}
.post-title {
    font-size: 21px
}
.post-data, .post-data a {
    font-size: 12px;
    color: #5f5f5f;
    padding-left: 5px;
    padding-right: 5px
}
.post-tags {
    margin: 0;
    padding: 5px 0 15px;
    border-bottom: 1px solid #e0e0e0
}

.post-tags a {
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    margin: 4px 8px 0 0;
    padding: 0 15px;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    text-decoration: none !important;
    letter-spacing: 0
}

.post-tags a:nth-child(1n) {
    color: #fff;
    border: 1px solid #6fa3ef;
    border-radius: 15px;
    background: #6fa3ef
}

.post-tags a:nth-child(2n) {
    color: #fff;
    border: 1px solid #ff9800;
    border-radius: 15px;
    background: #ff9800
}

.post-tags a:nth-child(3n) {
    color: #fff;
    border: 1px solid #46c47c;
    border-radius: 15px;
    background: #46c47c
}

.post-tags a:nth-child(4n) {
    color: #fff;
    border: 1px solid #f9bb3c;
    border-radius: 15px;
    background: #f9bb3c
}

.post-tags a:nth-child(5n) {
    color: #fff;
    border: 1px solid #bc99c4;
    border-radius: 15px;
    background: #bc99c4
}

.post-tags a:nth-child(6n) {
    color: #fff;
    border: 1px solid #e8583d;
    border-radius: 15px;
    background: #e8583d
}

.post-tags a::before {
    content: '# '
}
.post-info {
    overflow: hidden;
    margin: 25px -20px 0;
    padding: 25px 20px 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-top: 1px solid #e0e0e0
}

