* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main.container {
    margin-top: 2em;
    margin-bottom: 5em;
}

.footer.segment {
    padding: 5em 0 4em 0;
    margin: 0;
    border: none;
    border-radius: unset;

}

#middleSearch {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100%;
}

/*自定义显示菜单部分*/
.red-border {
    border: 1px solid red;
}

.green-border {
    border: 1px solid green;
}

.blue-border {
    border: 1px solid blue;
}

/*pusher部分*/
/*.pusher {*/
/*    background: #F7F7F7;*/
/*}*/

/*masthead*/
.masthead.segment {
    min-height: 400px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

/*分页菜单*/
div.ui.pagination.menu {
    margin-bottom: 0.5em;
}

div.ui.pagination.menu {
    margin-bottom: 1em;
}

div.container.pageinfo {
    text-align: center;
}

.pagination.menu {
    background: none;
    box-shadow: none;
    border: none;
}

/*文章描述部分*/
div.description.article {
    height: 60px;
    width: auto;
}

div.description.article p {
    font-size: 10px;
    text-indent: 2em;
    letter-spacing: 1px;
}

/*图片固定*/
.image-fix-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-fix-image {
    width: 100%;
    height: auto;
}

/*定位三部*/
header {
    flex: 0 0 auto;
}

section {
    flex: 1 0 auto;
    /*background: #F7F7F7;*/
    position: relative;
}

footer {
    flex: 0 0 auto;
}

/*main top menu*/
#top-menu {
    margin: 0;
}

/*post-list样式*/
.post-list {
    margin: 2em 0;
}

.post-des {
    height: 8em;
    text-indent: 2em;
    font-size: 0.8em;
}

.post-meta span {
    font-size: 0.8em;
}

/*标签颜色设置*/
.ptags a:nth-child(1n) {
    background-color: #f2711c !important;
    border-color: #f2711c !important;
    color: #fff !important;
}

.ptags a:nth-child(2n) {
    background-color: #a5673f !important;
    border-color: #a5673f !important;
    color: #fff;
!important;
}

.ptags a:nth-child(3n) {
    background-color: #21ba45 !important;
    border-color: #21ba45 !important;
    color: #fff;
!important;
}

.ptags a:nth-child(4n) {
    background-color: #b5cc18 !important;
    border-color: #b5cc18 !important;
    color: #fff;
!important;
}

.ptags a:nth-child(5n) {
    background-color: #767676 !important;
    border-color: #767676 !important;
    color: #fff;
!important;
}

.ptags a:nth-child(6n) {
    background-color: #db2828 !important;
    border-color: #db2828 !important;
    color: #fff;
!important;
}

.ptags a:nth-child(7n) {
    background-color: #1b1c1d !important;
    border-color: #1b1c1d !important;
    color: #fff;
!important;
}

.ptags a:last-child {
    background-color: #2185d0 !important;
    border-color: unset !important;
    color: #fff;
!important;
}

blockquote, dl, ol, p, pre, table, ul {
    margin: 20px 0
}

/*about*/
.aboutlist a {
    margin: 4px 0;
}

/*#post-content p {*/
/*    font: 400 1em/1.8 Avenir, Tahoma, Arial, PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, Helvetica, sans-serif;*/
/*    line-height: 2.1;*/
/*    letter-spacing: 1px;*/
/*    word-spacing: 1px;*/
/*    text-align: justify;*/
/*    font-size: 1.3em;*/
/*    margin-bottom: .6em;*/
/*}*/

/*#post-content span,strong {*/
/*    letter-spacing: 1px;*/
/*    word-spacing: 1px;*/
/*    text-align: justify;*/
/*}*/


/*#post-content ul, ol {*/
/*    margin-left: 1.2em;*/
/*    letter-spacing: 1px;*/
/*    word-spacing: 1px;*/
/*}*/

/*#post-content h1,h2,h3,h4,h5,h6 {*/
/*    margin-top: 1em;*/
/*    margin-bottom: .6em;*/
/*}*/

#post-content {
    margin: 0 auto;
    font-family: "Microsoft YaHei", arial,sans-serif;
    /*font: 400 1em/1.8 Microsoft YaHei, Tahoma, Arial, PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, Helvetica, sans-serif;*/
    color: #444444;
    padding: 30px;
}

#post-content * {
    line-height: 2.1;
}

@media screen and (min-width: 768px) {
    /*#post-content {*/
    /*    width: 748px;*/
    /*    margin: 10px auto;*/
    /*}*/
}

#post-content h1,#post-content h2,#post-content h3,#post-content h4 {
    color: #111111;
    font-weight: 400;
    margin-top: 1em;
}

#post-content h1,#post-content h2,#post-content h3,#post-content h4,#post-content h5 {
    font-family: Georgia, Palatino, serif;
}

#post-content h1,#post-content h2,#post-content h3,#post-content h4,#post-content h5,#post-content p,#post-content dl {
    margin-bottom: 16px;
    padding: 0;
}

#post-content h1 {
    font-size: 48px;
    line-height: 54px;
}

#post-content h2 {
    font-size: 36px;
    line-height: 42px;
}

#post-content h1,#post-content h2 {
    border-bottom: 1px solid #EFEAEA;
    padding-bottom: 10px;
}

#post-content h3 {
    font-size: 24px;
    line-height: 30px;
}

#post-content h4 {
    font-size: 21px;
    line-height: 26px;
}

#post-content h5 {
    font-size: 18px;
    /*list-style: 23px;*/
}

#post-content a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

#post-content a:hover {
    text-decoration: none;
    color: #ff6600;
}

#post-content a:visited {
    /*color: purple;*/
}

#post-content ul,#post-content ol {
    padding: 0;
    padding-left: 24px;
    margin: 0;
}

#post-content li {
    line-height: 24px;
}

#post-content p,#post-content ul,#post-content ol {
    font-size: 16px;
    line-height: 24px;
}

#post-content ol ol{
    list-style-type: lower-roman;
}
#post-content ul ol {
    list-style-type: lower-roman;
}

/*pre {
    padding: 0px 24px;
    max-width: 800px;
    white-space: pre-wrap;
}
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
}*/

/*#post-content code,#post-content pre {*/
/*    border-radius: 3px;*/
/*    background-color: #f7f7f7;*/
/*    color: inherit;*/
/*}*/

/*#post-content code {*/
/*    font-family: Consolas, Monaco, Andale Mono, monospace;*/
/*    margin: 0 2px;*/
/*}*/

/*#post-content pre {*/
/*    line-height: 1.7em;*/
/*    overflow: auto;*/
/*    padding: 6px 10px;*/
/*    border-left: 5px solid #6CE26C;*/
/*}*/

/*#post-content pre > code {*/
/*    border: 0;*/
/*    display: inline;*/
/*    max-width: initial;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    overflow: initial;*/
/*    line-height: inherit;*/
/*    font-size: .85em;*/
/*    white-space: pre;*/
/*    background: 0 0;*/

/*}*/

/*#post-content code {*/
/*    color: #666555;*/
/*}*/


/** markdown preview plus 对于代码块的处理有些问题, 所以使用统一的颜色 */
/*code .keyword {
  color: #8959a8;
}

code .number {
  color: #f5871f;
}

code .comment {
  color: #998
}*/

#post-content aside {
    display: block;
    float: right;
    width: 390px;
}

#post-content blockquote {
    border-left: .5em solid #eee;
    padding: 0 0 0 2em;
    margin-left: 0;
}

#post-content blockquote cite {
    font-size: 14px;
    line-height: 20px;
    color: #bfbfbf;
}

#post-content blockquote cite:before {
    content: '\2014 \00A0';
}

#post-content blockquote p {
    color: #666;
}

#post-content hr {
    text-align: left;
    color: #999;
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
}

#post-content dl {
    padding: 0;
}

#post-content dl dt {
    padding: 10px 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

#post-content dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

#post-content dd {
    margin-left: 0;
}

/* Code below this line is copyright Twitter Inc. */

#post-content button,
#post-content input,
#post-content select,
#post-content textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

#post-content button,#post-content input {
    line-height: normal;
    *overflow: visible;
}

#post-content button::-moz-focus-inner,#post-content input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#post-content button,
#post-content input[type="button"],
#post-content input[type="reset"],
#post-content input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

#post-content input[type=checkbox],#post-content input[type=radio] {
    cursor: pointer;
}

/* override default chrome & firefox settings */
#post-content input:not([type="image"]),#post-content  textarea {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#post-content input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#post-content input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

#post-content label,
#post-content input,
#post-content select,
#post-content textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 18px;
}

#post-content input[type=checkbox],#post-content  input[type=radio] {
    cursor: pointer;
    margin-bottom: 0;
}

#post-content input[type=text],
#post-content input[type=password],
#post-content textarea,
#post-content select {
    display: inline-block;
    width: 210px;
    padding: 4px;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    height: 18px;
    color: #808080;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#post-content select,#post-content input[type=file] {
    height: 27px;
    line-height: 27px;
}

#post-content textarea {
    height: auto;
}

/* grey out placeholders */
#post-content :-moz-placeholder {
    color: #bfbfbf;
}

#post-content ::-webkit-input-placeholder {
    color: #bfbfbf;
}

#post-content input[type=text],
#post-content input[type=password],
#post-content select,
#post-content textarea {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#post-content input[type=text]:focus, #post-content input[type=password]:focus,#post-content  textarea:focus {
    outline: none;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* buttons */
#post-content button {
    display: inline-block;
    padding: 4px 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    transition: 0.1s linear all;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#post-content button:hover {
    color: #fff;
    background-position: 0 -15px;
    text-decoration: none;
}

#post-content button:active {
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#post-content button::-moz-focus-inner {
    padding: 0;
    border: 0;
}


