<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{public/css/semantic.css}"/>
<script type="application/javascript" th:src="@{public/js/jquery.js}"></script>
<script type="application/javascript" th:src="@{public/js/semantic.js}"></script>
<script type="application/javascript">
    $(document).ready(function(){

    })
</script>
<body>
<!-- Top Menu -->
<div class="ui attached stackable menu">
    <div class="ui container">
        <a class="item">
            <i class="home icon"></i> Home
        </a>
        <a class="item">
            <i class="grid layout icon"></i> Browse
        </a>
        <a class="item">
            <i class="mail icon"></i> Messages
        </a>
        <div class="ui simple dropdown item">
            More
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item"><i class="edit icon"></i> Edit Profile</a>
                <a class="item"><i class="globe icon"></i> Choose Language</a>
                <a class="item"><i class="settings icon"></i> Account Settings</a>
            </div>
        </div>
        <div class="right menu">
            <!--<div class="ui input"><input type="text" placeholder="Search..."></div>-->
            <div class="item">
                <div class="ui action left icon input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search">
                    <button class="ui blue button">Submit</button>
                </div>
            </div>
            <a class="item">Link</a>
        </div>
    </div>
</div>
<div class="ui horizontal divider">Or </div>
<!-- middle container-->
<div class="ui raised very padded text container segment">
    <h2 class="ui header">Dogs Roles with Humans</h2>
    <p></p>
    <p></p>
</div>

</body>
</html>